<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 

    {% block seo %}
      <meta name="description" content="This is the default SEO if this block is not defined." />
    {% endblock %}

    <link rel="stylesheet" href="{{ url }}css/styles.css">

    <!-- Bootstrap core CSS -->
    <link href="{{ url }}css/vendor/bootstrap.min.css" rel="stylesheet">

    {% block css %} {% endblock %}

    <title>{{ title }}</title>
  </head>
  
  <body class="{{ bodyClass }}">
    <!-- Navigation bar -->
    {% include '_top_nav.html' with {'activeItem': activeItem | default("")} %}

    <!-- Page content -->
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <!-- Footer -->
    {% include '_footer.html' %}
  
    <!-- Vendor scripts -->
    <script src="{{ url }}js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{ url }}js/vendor/bootstrap.min.js"></script>

    {% block scripts %} {% endblock %}
   
    <script src="{{ url }}js/default.js"></script>

    {% if debug == false %}
      <script>
        // Production only javascript, EX: google analitycs 
      </script>
    {% endif %}
  </body>
</html>
