<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Twig boilerplate</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if activeItem == 'home' %} class="active" {% endif %}><a href="{{url}}">Home</a></li>
        <li {% if activeItem == 'lorem' %} class="active" {% endif %} ><a href="{{url}}lorempage">Lorem</a></li>
      </ul>
    </div>
  </div>
</nav>