{# Home page #}

{% extends "_layout.html" %}
{% set bodyClass = 'home' %}
{% set activeItem = 'home' %}

{% set title = 'Home page' %}

{% block seo %}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Hello world</h1>
  </div>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis autem cupiditate doloremque delectus minima ad dignissimos aspernatur similique reprehenderit molestiae quo, in soluta laboriosam, beatae et hic non itaque, praesentium!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque excepturi blanditiis et repudiandae tempore vitae sint beatae temporibus explicabo facere placeat voluptatem repellendus saepe quod dignissimos dolorum debitis commodi illo, nihil quis, enim eligendi id quo amet. Odio, illum! Vero placeat fugiat adipisci aut asperiores temporibus autem, nemo accusantium libero animi, itaque provident, possimus exercitationem aperiam rerum dolore dolorem similique. Consequatur deserunt pariatur est voluptatibus labore, omnis sunt aut quae quia commodi quam fugit laudantium quaerat vel neque optio cumque eaque debitis quasi facere voluptatum, soluta aliquam blanditiis enim. Quibusdam illo illum, tenetur optio! Tempore facere, aut reiciendis placeat id.</p>
{% endblock %}

{% block scripts %}
  <!-- Include some scripts here -->
  <!-- <script src="{{ url }}js/vendor/jquery.slides.min.js"></script> -->

  <script>
  $(document).ready(function() {
    // Do some jquery stuff for home page only
  });
  </script>
{% endblock %}