{# Lorem page #}

{% extends "_layout.html" %}
{% set bodyClass = 'lorem' %}
{% set activeItem = 'lorem' %}

{% set title = 'Lorem page' %}

{% block seo %}
{% endblock %}

{% block content %}
	<div class="page-header">
      <h1>Lorem page</h1>
  </div>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis autem cupiditate doloremque delectus minima ad dignissimos aspernatur similique reprehenderit molestiae quo, in soluta laboriosam, beatae et hic non itaque, praesentium!</p><br>
	<div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
  $(document).ready(function() {
    // Do some jquery stuff for lorem page only
  });
  </script>
{% endblock %}